services:
  frontoffice.web:
    container_name: leaderboard.frontoffice.web
    image: leaderboard.frontoffice.web
    ports:
      - "5110:5110"
    build:
      context: ./BE
      dockerfile: FrontOffice/FrontOffice.Web/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kestrel__Endpoints__Localhost__Url: http://0.0.0.0:5110
      Grpc__Identity__Endpoint: http://backoffice.identity:5010

  backoffice.identity:
    container_name: leaderboard.backoffice.identity
    image: leaderboard.backoffice.identity
    ports:
      - "5010:5010"
    build:
      context: ./BE
      dockerfile: BackOffice/BackOffice.Identity/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kestrel__Endpoints__Localhost__Url: http://0.0.0.0:5010

  backoffice.matchmaker:
    container_name: leaderboard.backoffice.matchmaker
    image: leaderboard.backoffice.matchmaker
    build:
      context: ./BE
      dockerfile: BackOffice/BackOffice.Matchmaker/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kafka__Producer__MatchStatusMessage__BootstrapServers: kafka1:9092,kafka2:9092,kafka3:9092
      Kafka__Configuration__MatchStatus__BootstrapServers: kafka1:9092,kafka2:9092,kafka3:9092
    depends_on:
      - kafka1
      - kafka2
      - kafka3

  kafka1:
    container_name: leaderboard.kafka1
    image: confluentinc/cp-kafka:8.1.1
    ports:
      - "9100:9100"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_BROKER_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka1:9093,2@kafka2:9093,3@kafka3:9093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka1:9092,CONTROLLER://kafka1:9093,EXTERNAL://:9100'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka1:9092,EXTERNAL://localhost:9100'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      CLUSTER_ID: 'leaderboard-cluster-id'
      # offset replication factor
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      # minimal count of synchronized replicas on a write
      # example: if value=2 and only 1 broker is available, write will be available
      # example: if value=1 and leader shut down before synchronization, data will be lost
      KAFKA_MIN_INSYNC_REPLICAS: 2
    volumes:
      - kafka1_data:/var/lib/kafka/data

  kafka2:
    container_name: leaderboard.kafka2
    image: confluentinc/cp-kafka:8.1.1
    ports:
      - "9101:9101"
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_BROKER_ID: 2
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka1:9093,2@kafka2:9093,3@kafka3:9093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka2:9092,CONTROLLER://kafka2:9093,EXTERNAL://:9101'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka2:9092,EXTERNAL://localhost:9101'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      CLUSTER_ID: 'leaderboard-cluster-id'
      # offset replication factor
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      # minimal count of synchronized replicas on a write
      # example: if value=2 and only 1 broker is available, write will be available
      # example: if value=1 and leader shut down before synchronization, data will be lost
      KAFKA_MIN_INSYNC_REPLICAS: 2
    volumes:
      - kafka2_data:/var/lib/kafka/data

  kafka3:
    container_name: leaderboard.kafka3
    image: confluentinc/cp-kafka:8.1.1
    ports:
      - "9102:9102"
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_BROKER_ID: 3
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka1:9093,2@kafka2:9093,3@kafka3:9093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka3:9092,CONTROLLER://kafka3:9093,EXTERNAL://:9102'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka3:9092,EXTERNAL://localhost:9102'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      CLUSTER_ID: 'leaderboard-cluster-id'
      # offset replication factor
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      # minimal count of synchronized replicas on a write
      # example: if value=2 and only 1 broker is available, write will be available
      # example: if value=1 and leader shut down before synchronization, data will be lost
      KAFKA_MIN_INSYNC_REPLICAS: 2
    volumes:
      - kafka3_data:/var/lib/kafka/data
        
  conduktor:
    container_name: leaderboard.conduktor
    image: conduktor/conduktor-console
    ports:
      - "8080:8080"
    volumes:
      - conduktor_data:/var/conduktor
      - type: bind
        source: "./platform-config.yaml"
        target: /opt/conduktor/platform-config.yaml
        read_only: true
    environment:
      CDK_DATABASE_HOSTS_0_HOST: postgresql
      CDK_DATABASE_HOSTS_0_PORT: 5432
      CDK_DATABASE_NAME: conduktor
      CDK_DATABASE_USERNAME: "super-user"
      CDK_DATABASE_PASSWORD: "P@$$Sw0Rd1245"
      CDK_AUTH_LOCALUSERS_0_EMAIL: "admin@conduktor.io"
      CDK_AUTH_LOCALUSERS_0_PASSWORD: "Password1234!"
    depends_on:
      - postgresql
    healthcheck:
      test: curl -f http://localhost:8080/platform/api/modules/health/live || exit 1
      interval: 10s
      start_period: 10s
      timeout: 5s
      retries: 3

  postgresql:
    container_name: leaderboard.postgresql
    image: postgres:14
    hostname: postgresql
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: "conduktor"
      POSTGRES_USER: "super-user"
      POSTGRES_PASSWORD: "P@$$Sw0Rd1245"

  frontend:
    container_name: leaderboard.frontend
    image: leaderboard.backoffice.matchmaker
    build: ./FE
    ports:
      - "5173:5173"
    depends_on:
      - frontoffice.web

volumes:
  kafka-magic_data: {}
  kafka1_data: {}
  kafka2_data: {}
  kafka3_data: {}
  conduktor_data: {}
  pg_data: {}