services:
  frontoffice.web:
    container_name: leaderboard.frontoffice.web
    image: leaderboard.frontoffice.web
    ports:
      - "5110:5110"
    build:
      context: "./BE/"
      dockerfile: FrontOffice/FrontOffice.Web/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kestrel__Endpoints__Localhost__Url: http://0.0.0.0:5110
      Grpc__Identity__Endpoint: http://backoffice.identity:5010

  backoffice.identity:
    container_name: leaderboard.backoffice.identity
    image: leaderboard.backoffice.identity
    ports:
      - "5010:5010"
    build:
      context: "./BE/"
      dockerfile: BackOffice/BackOffice.Identity/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kestrel__Endpoints__Localhost__Url: http://0.0.0.0:5010
  #Frontend
  frontend:
    build: ./FE
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      frontoffice.web:
        condition: service_started
