.username {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

//.deltaRow {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  gap: 8px;
//}

.value {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
